/*
    Student Name: Gracia Assaka
    File Name: styles.css
    Date: 04/13/2022
*/

/* Begin Mobile Styles */

/* Show mobile class, hide tablet-desktop class and menu-links id */
.mobile {
  display: block;
}

/* Hide tablet-desktop class */
.tablet-desktop {
  display: none;
}

/**
 * Style rules for site headers and footers 
 */

/* Set the background color and backdrop filter for the site header and footer */
.site-header,
.site-footer {
  background-color: #6666ff;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

/* Set the color and transition for links in the site header and footer */
.site-header a,
.site-footer a {
  color: #fff;
  transition: color .15s ease-in-out;
}

/* Set the color and text decoration for links in the site header and footer on hover */
.site-header a:hover,
.site-footer a:hover {
  color: #fff;
  text-decoration: none;
}

/* Set the color for h5 elements in the site footer */
.site-footer h5 {
  color: #fff;
}

/**
* Style rules for hero images
*/

/* Hero image index page */
.heroIndex {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/hero-home.JPG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Hero image about page */
.heroAbout {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/student_girls_stadium.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Hero image polyclinic page */
.heroPolyclinic {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/policlynic.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Hero image admission page */
.heroAdmission {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/little_guys.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Hero image accomplishments page */
.heroAccomplishments {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/students_girl_2.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

/**
* Stye rules for background images 
*/

/* index page */

/* Set backgroung image for infrastructure section */
.infrastructure {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/building_dibanda_in.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

/* Set backgroung image for polyclinic section */
.polyclinic {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/policlynic.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

/* Set backgroung image for achievement section */
.achievement {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/elementary_school_students_2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

/* Set backgroung image for Dibanda visit */
.building-dibanda {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/building_dibanda_2.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

/* Set backgroung image for Concorde visit */
.building-concorde {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/concorde_building.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

/* Set backgroung image for Gecamine visit */
.building-gecamine {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/concorde_building.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

/* Set Academic Awards background image */
.academic-awards {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/student_girls_stadium.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

/* Set sport victories background image */
.sport-victories {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/student_girl_3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

/* Set cultural-events background image */
.cultural-awards {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/student_boy.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

/* Set the background image and color for the healthcare section */
.healthcare {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/Professional_nurse.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

/* Set the background image and color for the patner section */
.partner {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/Inside_policlynic.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

/* Set the background image and color for the objectives section */
.objectives {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/student_girl.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

.athlétisme {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/students_gym.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

.clubs {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/student_girl_3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

.evénements {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/students_girl_2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

/**
* Stye rules for image elements
*/

/* Set vertical alignment for images */
img {
  vertical-align: middle;
}

/* Set the border radius and maximum width for elements with the round class */
.round {
  border-radius: 8px;
  max-width: 100%;
}

/* Set padding for admissionImg images */
.admissionImg {
  padding-top: 5%;
}

/* Hide elements with the mySlides and mySlides_1 classes */
.mySlides,
.mySlides_1 {
  display: none;
}

.icon {
  width: 24px;
  height: 24px;
}

.products {
  width: 100px; /* adjust as needed */
  height: auto;
}

/**
* Stye rules for text elements
*/

/* Set font size for main heading */
main h1 {
  font-size: 1.5em;
}

/* Set the background color and text color for elements with the black class */
.black {
  background-color: #6666ff;
  color: white;
}

/* Set the background color and text color for elements with the white class */
.white {
  background-color: white;
  color: black;
}

.center-text-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* You can set the height as per your requirements */
}

.introductionText {
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.achievementsText {
  padding: 2.5%;
  font-size: 12px;
  text-align: left;
  position: absolute;
  bottom: 0;
  right: 0;
}

.awards {
  position: relative;
}

.options {
  padding: 10px;
}

.important {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #6666ff;
  border-radius: 50px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin: 10px 5px;
}

.newsCategoryDescription {
  display: flex;
  justify-content: center;
  bottom: 0;
}

/* Set the position, top, margin, and padding for elements with the welcome class */
.welcome {
  position: absolute;
  top: 20%;
  margin: auto;
  padding: 2em;
}

/* Set the font size, width, and line height for paragraphs within elements with the welcome class */
.welcome p {
  font-size: 1.25em;
  width: 70%;
  line-height: 1.5;
}

/* Set the color of heading elements */
.headingColor {
  color: #6666ff;
}

.product_description h3,
.product_description .card-text {
  margin-left: 25px !important; /* adjust as needed */
}

.toast {
  max-width: 50%;
  height: auto;
  margin: auto;
  position: fixed;
  top: 30px; /* Initially placed at the intended location */
  left: 0;
  right: 0;
  z-index: 9999;
  padding: 20px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  opacity: 0; /* Initially invisible */
  visibility: hidden; /* Initially not visible */
  transition: opacity 0.5s ease-in-out; /* Smooth transition for opacity */
}

@keyframes fadein {
  from {
    top: -50px;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: -50px;
    opacity: 0;
  }
}

/**
* Style rules buttons
*/

.button-basic {
  background-color: #6666ff !important;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-basic:hover {
  background-color: #5151ce;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.button-outlined {
  display: inline-block !important;
  background-color: transparent;
  color: #77dd77 !important;
  border: none !important;
  padding: 5px 16px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button-outlined:hover {
  background-color: #77dd77 !important;
  color: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.button-rounded {
  background-color: #77dd77 !important;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-rounded:hover {
  background-color: #66cc66;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.cycleButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.button-signin {
  background-color: #77dd77;
  color: white;
  padding: 16px;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.button-signin:hover {
  background-color: #66cc66;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

#back_to_top_btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #77dd77 !important;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  opacity: 0.7;
}

#back_to_top_btn:hover {
  opacity: 1;
}

/**
* card styles
*/
.productCard {
  margin-bottom: 30px;
}

/**
* select drowdown styles
*/
.categorySelection {
  display: flex;
  align-items: center;
}

.categorySelection label {
  margin-right: 0.5em;
  white-space: nowrap;
  line-height: 1.5;
}

.categorySelection select {
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  font-size: 1em;
  line-height: 1.5;
  align-items: center;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.categorySelection select {
  background-image: url(../images/custom_dropdown.png);
  background-repeat: no-repeat;
  background-position: right 0.5em top 50%;
  background-size: 16px 16px;
}

/**
* form styles 
*/

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-family: inherit;
}

input[type="radio"] {
  margin-right: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.expandable-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.expandable-list li {
  display: block;
  padding: 10px;
  margin-bottom: 5px;
  color: #fff;
  background-color: #66cc66;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-family: inherit;
}

.animatedOptions li {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s, transform 0.5s;
}

#classList {
  opacity: 0;
  transform: translateY(-20px);
}


.comment {
  max-width: 950px;
}

.choiceParagraph {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
}

.signin,
.signup {
  text-align: center;
}

form.signin input,
form.signup input {
  width: 90%; /* Adjust as needed */
  padding: 10px;
  margin: 10px 0;
}

.cartForm {
  background-color: transparent !important;
  border: none !important;
  position: absolute;
  right: 0;
}

.cartInput {
  width: 60px !important;
  text-align: center !important;
}

/* Hidden state that maintains the element's box model */
.hidden {
  visibility: hidden;
  opacity: 0;
  position: absolute; /* Remove from flow but maintain space */
}

/* Visible state */
.visible {
  visibility: visible;
  opacity: 1;
  position: static; /* Re-enter into the document flow */
}

#finish {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #6666ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-family: inherit;
  cursor: pointer;
}

#finish:hover {
  background-color: #5151ce;
}
/** 
* Style rules for slideshow container 
*/
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/**
* Stye rules for dropdown menu
*/

/* admission page */

/* Set the position and display for elements with the dropdown class */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownColorBackground {
  background-color: #66cc66;
  color: white !important;
}

.dropdownWhiteBackground {
  background-color: white;
  color: #66cc66 !important;
}

/* Set the display, position, background color, minimum width, padding, z-index, border, box shadow, background color, and width for elements with the dropdown-content class */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 200px;
  padding: 12px 16px;
  z-index: 1;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #6666ff;
  width: 400px;
}

/* Set the color and padding for paragraphs within elements with the dropdown-content class */
.dropdown-content p {
  color: white;
  padding: 6px 8px;
  display: block;
}

/* Set the display for elements with the dropdown class on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/** 
* Style rule for map 
*/

/* contact page */

.map {
  border: 2px solid #000;
  width: 95%;
  height: 50%;
}

/**
* Style rules for Next & previous buttons 
*/

/* polyclinic page */

/* Set the cursor, position, top, width, padding, margin-top, color, font-weight, font-size, transition, border-radius, and user-select properties for elements with the prev and next classes */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 1.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  background: url(../images/previous.png) no-repeat;
  background-size: 32px;
}

.next {
  background: url(../images/next.png) no-repeat;
  background-size: 32px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/**
* Style rules for number, dots, bullets, and indicators 
*/

/* index and polyclinic page */

/* Set the color, font size, padding, position, and top properties for elements with the numbertext class */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Set the cursor, height, width, margin, background color, border radius, display, and transition properties for elements with the dot and dot_1 classes */
.dot,
.dot_1 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Set the background color for elements with the active, dot:hover, and dot_1:hover classes */
.active,
.dot:hover {
  background-color: #717171;
}

/**
* Style rules for fade animation 
*/

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fade;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

/* Define a keyframe animation called fade */
@keyframes fade {
  from {
    opacity: .4; /* Set the opacity to 0.4 at the beginning of the animation */
  }

  to {
    opacity: 1; /* Set the opacity to 1 at the end of the animation */
  }
}

/* Define a keyframe animation called fade for WebKit browsers */
@-webkit-keyframes fade {
  from {
    opacity: .4; /* Set the opacity to 0.4 at the beginning of the animation */
  }

  to {
    opacity: 1; /* Set the opacity to 1 at the end of the animation */
  }
}

/**
* Other
*/

/* Set box-sizing property for all elements */
* {
  box-sizing: border-box;
}

/* Media Query for Tablet Viewport */
@media (min-width: 768px) {
  /* Tablet Viewport: Show tablet-desktop class, hide mobile class */
  .tablet-desktop {
    display: block;
  }

  /* Set the display property to none for elements with the mobile class */
  .mobile {
    display: none;
  }

  /* Tablet Viewport: Style rule for map */
  .map {
    width: 600px;
    height: 450px;
  }

  /* Tablet Viewport: Style rule for form element */
  form {
    width: 80%;
    margin: 0 auto;
  }

  /* Set the display property to grid, the grid-template-columns property to auto auto auto, and the grid-gap property to 20 pixels for elements with the grid class */
  .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
  }

  /* Set the font size to 2em for h1 elements within the .row element within the main element */
  main .row h1 {
    font-size: 2em;
  }

  /* Set the background image to a linear gradient from white to light gray for the body element */
  body {
    background-image: linear-gradient(to bottom right, #fff, #e6e6e6);
  }

  /* Tablet Viewport: Style rules fo table */
  table {
    border: none !important;
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
  }

  th,
  td {
    border: none !important;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #6666ff !important;
    color: white;
  }

  tr:nth-child(even) {
    background-color: rgba(102, 102, 255, 0.2) !important;
  }

  td:last-child {
    text-align: right;
  }

  /* Set the text alignment, font size, font weight, padding, caption side, and color properties for caption elements */
  caption {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding: 1%;
    caption-side: top;
    color: #6666ff;
  }

  /* Set the border and padding properties for th and td elements */
  th,
  td {
    border: 1.5px solid #000;
    padding: 2%;
  }

  /* Set the background color, text color, and font size properties for th elements */
  th {
    background-color: #6666ff;
    color: #fff;
    font-size: 1.15em;
  }

  .cart td {
    vertical-align: middle;
  }
}

/* Media Query for Desktop Viewport */
@media (min-width: 992px) {
  /* Desktop Viewport: Style rules for form */
  /* Set the width and margin-bottom properties for form elements */
  form {
    width: auto;
    margin-bottom: 2%;
  }

  /* Set the display, grid-template-columns, and grid-gap properties for elements with the form-grid class */
  .form-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
  }

  /* Set the grid-column property to span 3 for elements with the btn class */
  .btn {
    grid-column: 1 / span 3;
  }

  /* Set the background image to a linear gradient from white to light gray for the body element */
  body {
    background-image: linear-gradient(to bottom right, #fff, #cccccc);
  }
}
